<p class="lead mb-3">Welcome <%= rollnumber %></p>
<a href="/users/attendance/semester" class="btn btn-secondary">Semester Wise Attendance</a>
<a href="/users/attendance/monthly" class="btn btn-secondary">Monthly Attendance</a>
<a href="/users/attendance/class" class="btn btn-secondary">Class Wise Attendance</a>

<p></p>
<p></p>
<p></p>